@mixin container() {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto;
  overflow: hidden;
}

@mixin flex($dis, $direction, $just, $align) {
  display: $dis;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

@mixin button() {
  cursor: pointer;
  margin: 0 auto;
  padding: 1.6rem;
  font-weight: 700;
  border: none;
  text-transform: none;
  width: 100%;
  font-size: 1.8rem;
  border-radius: 1rem;
  background-color: var(--orange);
  color: var(--white);
}

@mixin small {
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1201px) {
    @content;
  }
}